<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    </style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Add lecturer</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Add lecturer</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox">
            <div class="ibox-title">
                <h5>Add new lecturer to the system</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <form id="form" role="form" ng-controller="lecturerController" class="wizard-big">
                    <!--<h1>Account</h1>
                    <fieldset>
                        <h2>Account Information</h2>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label>Username *</label>
                                    <input id="userName" name="userName" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Password *</label>
                                    <input id="password" name="password" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password *</label>
                                    <input id="confirm" name="confirm" type="text" class="form-control required">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>-->
                    <h1>Profile</h1>
                    <fieldset>
                        <h2>Basic Information</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>First name *</label>
                                    <input id="firstname" name="firstname" type="text" class="form-control required" ng-model="formData.firstname">
                                </div>
                                <div class="form-group">
                                    <label>Last name *</label>
                                    <input id="lastname" name="lastname" type="text" class="form-control required" ng-model="formData.lastname">
                                </div>


                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email" ng-model="formData.email">
                                </div>
                                <div class="form-group">
                                    <label>Telephone *</label>
                                    <input id="phone" name="phone" type="number" class="form-control required" placeholder="" ng-model="formData.phone" minlength="10" maxlength="10" onkeypress="phoneno()">

                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <h1>Work</h1>
                    <fieldset>
                        <h2>Work information</h2>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Staff number *</label>
                                <input id="staffNumber" name="staffNumber" type="text" class="form-control required" ng-model="formData.staffNumber">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Position *</label>
                                <select id="post" name="post" class="form-control required" ng-model="formData.post">
                                    <option disabled selected value> -- select a position -- </option>
                                    <option>Dean</option>
                                    <option>Senior lecturer</option>
                                    <option>Lecturer</option>
                                    <option>Assistant lecturer</option>
                                    <option>Instructor</option>
                                </select>
                            </div>
                            </div>

                    </fieldset>

                    <h1>Finish</h1>
                    <fieldset>
                        <h2>Login credentials and notification e-mail</h2>
                        <p style="font-size: medium">Lecturer will get an email containing following username and an auto generated temporary password. </p>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Temporary username *</label>
                                <input id="username" name="username" type="text" class="form-control required" ng-model="formData.username">
                            </div>
                            </div>
                    </fieldset>
                </form>
            </div>
        </div>
        </div>
    </div>

</div>
</div>

<!-- Steps -->
<script src="js/plugins/staps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="js/plugins/validate/jquery.validate.min.js"></script>

<!-- Input Mask-->
<script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>


<script>


    $(document).ready(function(){
        $("#wizard").steps();
        $("#form").steps({
            bodyTag: "fieldset",
            onStepChanging: function (event, currentIndex, newIndex)
            {
                // Always allow going backward even if the current step contains invalid fields!
                if (currentIndex > newIndex)
                {
                    return true;
                }

                // Forbid suppressing "Warning" step if the user is to young
                if (newIndex === 3 && Number($("#age").val()) < 18)
                {
                    return false;
                }

                var form = $(this);

                // Clean up if user went backward before
                if (currentIndex < newIndex)
                {
                    // To remove error styles
                    $(".body:eq(" + newIndex + ") label.error", form).remove();
                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                }

                // Disable validation on fields that are disabled or hidden.
                form.validate().settings.ignore = ":disabled,:hidden";

                // Start validation; Prevent going forward if false
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex)
            {
                // Suppress (skip) "Warning" step if the user is old enough.
                if (currentIndex === 2 && Number($("#age").val()) >= 18)
                {
                    $(this).steps("next");
                }

                // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                if (currentIndex === 2 && priorIndex === 3)
                {
                    $(this).steps("previous");
                }
            },
            onFinishing: function (event, currentIndex)
            {
                var form = $(this);

                // Disable validation on fields that are disabled.
                // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                form.validate().settings.ignore = ":disabled";

                // Start validation; Prevent form submission if false
                return form.valid();
            },
            onFinished: function (event, currentIndex)
            {
                var form = $(this);

                // Submit form input
                //form.submit();
                angular.element(document.getElementById('form')).scope().addLecturerFormSubmit();

            }
        }).validate({
            errorPlacement: function (error, element)
            {
                element.before(error);
            },
            rules: {
                confirm: {
                    equalTo: "#password"
                }
                /*phone:{
                    regexp: {
                        regexp: /([0-9])+/g,
                        message: 'The E-Mail ID is not a valid E-Mail'
                    }
                }*/
            }
        });
    });

    function phoneno(){
        $('#phone').keypress(function(e) {
            var a = [];
            var k = e.which;

            for (i = 48; i < 58; i++)
                a.push(i);

            if (!(a.indexOf(k)>=0))
                e.preventDefault();
        });
    }
</script>