<br>
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>MODULES</h5>
        </div>
    </div>
</div>


<div class="row">
<!--!st year module list-->
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>1st Year </h5>
        </div>
        <div class="ibox-content">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                       <a> <div class="widget style1 navy-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-share-alt-square fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">ITA</h2>
                                    <span> 1st Semester </span>
                                </div>
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of first year module list-->


<!--2nd year module list-->
<div class="col-lg-8">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>2nd Year </h5>
        </div>
        <div class="ibox-content">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-6">
                        <a> <div class="widget style1 lazur-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-code-fork fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">STII</h2>
                                    <span> 1st Semester </span>
                                </div>
                            </div>
                        </div></a>
                    </div>
                    <div class="col-lg-6">
                        <a> <div class="widget style1 yellow-bg">
                            <div class="row">
                                <div class="col-xs-4">
                                    <i class="fa fa-database fa-5x"></i>
                                </div>
                                <div class="col-xs-8 text-right">
                                    <h2 class="font-bold">ITP</h2>
                                    <span> 2nd Semester </span>
                                </div>
                            </div>
                        </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of 2nd year module list-->
</div>

<div class="row">
    <!--2nd year module list-->
    <div class="col-lg-8">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>2nd Year </h5>
            </div>
            <div class="ibox-content">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-6">
                            <a> <div class="widget red-bg ">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-code-fork fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <h2 class="font-bold">SEPI</h2>
                                        <span> 1st Semester </span>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                        <div class="col-lg-6">
                            <a> <div class="widget style1 yellow-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-code fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <h2 class="font-bold">SEPII</h2>
                                        <span> 2nd Semester </span>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of 2nd year module list-->


    <!--4th year module list-->
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>4th Year </h5>
            </div>
            <div class="ibox-content">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <a> <div class="widget style1 navy-bg">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <i class="fa fa-graduation-cap fa-5x"></i>
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <h2 class="font-bold">Reaserch</h2>
                                        <span> 1/2 Semester </span>
                                    </div>
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of 4th year module list-->

</div>


