<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Modules</h2>
        <ol class="breadcrumb">
            <li>
                <a href="">Home</a>
            </li>
            <li class="active">
                <strong>Modules</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h3 class="col-lg-6">Modules</h3>
                    <div class="ibox-tools">
                        <a href="#/createModule"><button class="btn btn-primary dim btn-outline btn-sm" type="button"><i class="fa fa-plus"></i> Create New Module</button></a>

                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control" ng-model="searchKey"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            <tr ng-repeat="course in courses | filter : searchKey">
                                <td class="project-status" ng-if="course.status=='Active'">
                                    <span class="label label-primary">Active</span>
                                </td>
                                <td class="project-status" ng-if="course.status=='Inactive'">
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td class="project-title">
                                    <a href="project_detail.html">{{ course.courseName }}</a>
                                    <br/>
                                    <small>Created 14.08.2014</small>
                                </td>
                                <td class="project-completion">
                                    <medium>{{ course.semester }}</medium>
                                </td>
                                <td class="project-people">
                                    <a href="#"><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                                    <a href="#"><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                                    <a href="#"><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                                    <a href="#"><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                                    <a href="#"><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                                </td>
                                <td class="project-actions">
                                    <a href="#/modules_single/{{ course._id }}" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit Module </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>