<!-- ******************************************
START SITE HERE
********************************************** -->
<style>

.md-input-yellow {
    border-color: #ff5722!important;
}
.text-box{
    display: none;
}
.text-box-show{
    margin-top: 20px;
    height: 25px;
}
.btn-show{
    height: 25px;
</style>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <a class="navbar-brand with-text" title="PSD to HTML" href="index.html">EduPress.</a>
        <ul class="sidebar-nav">
            <li><a href="member-profile.html">My Profile <span><i class="fa fa-user"></i></span></a></li>
            <li class="active"><a href="#/my_courses">My Courses <span><i class="fa fa-briefcase"></i></span></a></li>
            <li><a href="member-achievements.html">My Achievements <span><i class="fa fa-trophy"></i></span></a></li>
            <li><a href="member-messages.html">My Messages <span><i class="fa fa-comment-o"></i></span></a></li>
            <li><a href="member-friends.html">My Friends <span><i class="fa fa-share-alt"></i></span></a></li>
            <li><a href="member-profile-edit.html">Edit Profile <span><i class="fa fa-edit"></i></span></a></li>
            <li><a href="member-login.html">Login Account <span><i class="fa fa-key"></i></span></a></li>
            <li><a href="member-register.html">Register New Account <span><i class="fa fa-lock"></i></span></a></li>
            <li><a href="forum.html">Visit Forum Topics <span><i class="fa fa-comments-o"></i></span></a></li>
            <li><a href="index.html">Back to EduPress</a></li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <div id="page-content-wrapper">
        <a href="#menu-toggle" class="menuopener" id="menu-toggle"><i class="fa fa-bars"></i></a>
        <div class="demo-parallax parallax section looking-photo nopadbot" data-stellar-background-ratio="0.5" style="background-image:url('upload/demo_02.jpg');">
            <div class="page-title section nobg">
                <div class="container-fluid">
                    <div class="clearfix">
                        <div class="title-area pull-left">
                            <h2>My Courses <small>Listed below all your completed and active courses.</small></h2>
                        </div>
                        <!-- /.pull-right -->
                        <div class="pull-right hidden-xs">
                            <div class="bread">
                                <ol class="breadcrumb">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Members</a></li>
                                    <li class="active">My Courses</li>
                                </ol>
                            </div>
                            <!-- end bread -->
                        </div>
                        <!-- /.pull-right -->
                    </div>
                    <!-- end clearfix -->
                </div>
            </div>
            <!-- end page-title -->
        </div>

        <div class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="clearfix">
                            

                            <input type="button" name="sd" ng-click="test()" >

                            <div class="widget-title">
                                <h3>Active Courses</h3>
                                <hr>
                            </div><!-- end title -->
                            
                            <div ng-repeat="course in courses">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="video-wrapper clearfix">
                                        <div class="post-media">
                                            <div class="entry">
                                                <!--  <img src="upload/{{ course.image }}" alt="" class="img-responsive">-->
                                                <img src="../upload/blog_01.jpg" alt="" class="img-responsive">
                                                <div class="magnifier">
                                                    <div class="magni-desc">
                                                        <a class="secondicon" href="#/single_course/{{ course.id }}"> <span class="oi" data-glyph="link-intact" title="Read More" aria-hidden="false"></span></a>
                                                    </div><!-- end team-desc -->
                                                </div><!-- end magnifier -->
                                            </div>
                                        </div><!-- end media -->
                                    </div><!--widget -->
                                </div><!-- end col -->
                                <div class="col-lg-6 col-md-6">
                                    <div class="video-wrapper">
                                        <div class="widget-title clearfix">
                                            <h3><a href="course-single.html">{{ course.courseName}}</a></h3>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <small>
                                                Expires : 22 June 2016 <br/>
                                            </small>
                                            
                                            <!-- <a href="" ng-click="loadMembers(course._id)">View Members</a>  --> 
                                       
                                            <!-- <a class="btn btn-default btn-sm" ng-click="showTextBox($index)" >Enroll</a>-->
                                            <br>
                                            <div class="row">
                                                <!-- 
                                                <div class="col-md-3">
                                                    <input id="txtBoxEnroll" ng-model="enrollTxt" type="text" ng-class="showTextBoxState ? 'text-box-show': 'text-box'" class="form form-control" name="enroll" placeholder="Enroll">
                                                </div>
                                                -->
                                                
                                                <div class="col-md-12">
                                                <md-button class="md-primary md-raised" ng-model="enrollmentKey" ng-click="showEnrollmentKeyPrompt($event,course._id)" ng-class="isEnrollmentKeyValid ? 'md-input-yellow':''" >
                                                Enroll
                                                </md-button>                        
                          <!--    <a class="btn btn-default btn-sm" ng-class="showTextBoxState ? 'btn-show': 'text-box'" ng-click="checkEnrollKey(course._id,enrollTxt)" >Go</a>-->
                                                </div>
                                            </div>

                                            
                                        </div><!-- end title -->
                                    </div><!-- end video-wrapper -->
                                </div>
                            </div><!-- end row -->
                            <div class="widget-title">
                                <h1></h1>
                                <br>
                                
                            </div><!-- end title -->
                            </div>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end section -->

        <footer class="copyrights">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <ul class="check">
                            <li><a href="#">PSD to HTML</a></li>
                            <li><a href="#">Templates</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Get a Support</a></li>
                            <li><a href="#">Affiliate</a></li>
                        </ul>
                        <!-- end check -->
                    </div>
                    <!-- end col -->
                    <div class="col-md-3 col-sm-12">
                        <ul class="check">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Terms of Usage</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="page-pricing.html">Pricing & Plan</a></li>
                            <li><a href="page-become-a-trainer.html">Become a Trainer</a></li>
                        </ul>
                        <!-- end check -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-12">
                        <ul class="check">
                            <li><a href="http://twitter.com/psdconverthtml" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i> Google Plus</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-pinterest"></i> Pinterest</a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i> Dribbble</a></li>
                        </ul>
                        <!-- end check -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-12">
                        <div class="newsletter">
                            <p>Your email is safe with us and we hate spam as much as you do.</p>
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter your email here..">
                                </div>
                                <button type="submit" class="btn btn-primary">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <hr>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="copylinks">
                            <p>Copyrights &copy; 2016 <a href="http://psdconverthtml.com/"> PSD to HTML</a> All Rights Reserved.</p>
                        </div>
                        <!-- end links -->
                    </div>
                    <!-- end col -->

                    <div class="col-md-6 col-sm-12">
                        <div class="footer-social text-right">
                            <a class="dmtop" href="#"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
        <!-- end copyrights -->
    </div>
    <!-- end page-content-wrapper -->
</div>
<!-- end wrapper -->

<!-- ******************************************
/END SITE
********************************************** -->